/* Default styles (mobile first approach) */
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  header {
    font-family: sans-serif;
    background-color: navy;
    color: white;
    width: 100dvw;
    padding: 1rem;
  }

  header > h1, h2, h3, h4, h5, h6 {
    display: inline;
  }

  header > button {
    float: right ;
    margin-right: 1rem;
    border-radius: 8px;
    border-color: white;
    text-align: center;
    border-style: solid;
  }

  header > button:hover {
    cursor: pointer;
    border-color: white;
    background-color: navy;
    color: white;
  }
  
  main {
    padding: 10px;
  }
  /* Styles for tablets (portrait and landscape) */
  @media (min-width: 600px) {
    /* Tablet styles here */
    body {
        background-color: blue;
    }
  }
  
  /* Styles for small desktops */
  @media (min-width: 1024px) {
    /* Small desktop styles here */
    body {
        background-color: green;
        font-size: 20px
    }
    button {
        font-size: 20px;
    }
  }
  
  /* Styles for large desktops or larger screens */
  @media (min-width: 1200px) {
    /* Large desktop styles here */
    body {
        background-color: yellow;
    }
  }
  